.todo {
  display: grid;
  grid-template-columns: 50% 50%;
}
.todo-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.label {
  margin: 50px 0;
}
@media only screen and (max-width: 959px) {
  .todo {
    grid-template-columns: auto;
  }
}

